menuconfig LED_SUBSYSTEM
    bool "LED Subsystem"
    default y

if LED_SUBSYSTEM

    choice 
        prompt "LED blink sleep time"
        default LED_SLEEP_1000_MS

    config LED_SLEEP_250_MS
        bool "Fast (250ms)"

    config LED_SLEEP_1000_MS
        bool "Medium (1000ms)"

    config LED_SLEEP_2000_MS
        bool "Slow (2000ms)"
        
    endchoice

    config LED_BLINK_SLEEP_TIME_MS
        int
        default 250  if LED_SLEEP_250_MS
        default 1000 if LED_SLEEP_1000_MS
        default 2000 if LED_SLEEP_2000_MS
        default 0

    menuconfig ADVANCED_LED_SETTINGS
        bool "Advanced LED Settings"

    if ADVANCED_LED_SETTINGS

        config LED_BRIGHTNESS
            int "LED brightness (0-100)"
            range 0 100
            default 100

        config LED_FADE_DURATION_MS
            int "LED fade duration (0-5000 ms)"
            range 0 5000
            default 500   

        menu "Expert settings"

            config LED_DEBUG
                bool "Enable LED debugging"

            config LED_CUSTOM_BLINK_PATTERN
                bool "Custom blink pattern"

        endmenu

    endif #ADVANCED_LED_SETTINGS

endif # Led Subsystem

source "Kconfig.zephyr"